body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: left; 
    margin-top: 0;
}

form {
    padding: 20px;
    width: 50%; 
    margin: 0 ; 

}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;}
    form select { /* Добавьте стили для select (окошка категорий) */
        width: 100%; /* Сделайте ширину равной 100% */
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


/* Стили для хедера */
header {
    background-color: #f1ebeb;
    color: #f2eded;
    padding: 10px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left h1 {
    text-align: left;
    margin: 0;
    font-size: 55px;
    color: #20079c;
}

.header-right form {
    display: flex;
}

.header-right input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
}

.header-right button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header-right button:hover {
    background-color: #0056b3;
}