{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'figma/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'figma/css/post_detail.css' %}">
    

    <title>Blog</title>
</head>
<body>
    
    <header>
        <div class="container">
            <div class="header-left">
                <h1>Decode Blog</h1>
            </div>
            <div class="header-center">
                <form method="get" action="{% url 'post_list' %}">
                    <input type="text" name="search" placeholder="Поиск постов...">
                    <button type="submit">Искать</button>
                </form>
            </div>
            <div>
                {% if request.user.is_authenticate %}
                <a href="">Профиль</a>
                <a href="">Выйти</a>
                {% else %}
                <a href="">Вход</a>
                <a href="">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>

    <section class="main-sec">
        <div>
            <h1>Блог о программировании</h1>
            <h2>Новые посты</h2>
            {% for post in posts %}
                <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
            {% endfor %}
        </div>

        <div class="categories-container">
            <ul>
                <h2>Категории</h2>
                {% for category in categories %}
                    <li><a href="{% url 'category_list' %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    
    
    
</body>
</html>